
<ng-container *ngIf="employees?.length !=0">
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Food Name</th>
                            <th>Food Image</th>
                            <th>Description</th>
                            <th>Price</th>
                           <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of employees;let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.name}}</td>
                            <td><img style="width: 125px;" src="{{item.imageUrl}}" alt=""></td>
                            <td style="width: 25%;">{{item.description}}</td>
                            <th style="width: 12%;">{{item.price}}</th>
                            
                            <td>
                                <button (click) = "updateProduct(item.id)" class = "btn btn-info"> Update</button>
                                <button (click) = "deleteEmployee(item.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                                <button (click) = "productDetails(item.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
                            </td>
                                
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>
