
<div>
    <h3> Food item Details</h3>
    <div style="border: 100px;">
        <label> &nbsp;<b> First Name: </b></label> {{employee.name}}
    </div>
    <div>
        <label> &nbsp;<b> Last Name : </b></label> {{employee.description}}
    </div>
    <div>
        <label> &nbsp;<b> Image URL : </b></label> {{employee.imageUrl}}
    </div>
    <div>
        <label> &nbsp;<b> Price : </b></label> {{employee.price}}
    </div>
    <div>
        <label> &nbsp;<b> date Created: </b></label> {{employee.dateCreated}}
    </div>
   <div>
        <label> <b> cuisine: </b></label> {{employee.cuisine}}
    </div>
</div>
